<div class="columns is-centered">
  <div class="column is-half">
    <h1 class="title">Edit User Settings</h1>
    <%= form_for @user, remote: true, new_session_path: { action: :update }, html: { class: :control } do |f| %>
      <div class="field">
        <%= f.label 'Username', class: 'label' %>
        <%= f.text_field :username, class: 'input' %>
      </div>
      <div class="field">
        <%= f.label 'Email', class: 'label' %>
        <%= f.text_field :email, class: 'input' %>
      </div>
      <div class="control">
        <%= f.submit 'Save', class: 'button is-primary is-outlined is-small' %>
        <%= link_to 'Back', user_path, class: 'button is-outlined is-small' %>
      </div>
    <% end %>
  </div>
</div>
